.listItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    border: solid black;
    padding: 10px;
    border-radius: 6px;
}
.done{
    text-decoration: line-through;
}
.taskButton{
    box-sizing: border-box;
    height: 30px;
    width: 30px;
    padding: 5px;
    border: none;
    cursor: pointer;
    transition: 0.1s;
    border: 2px solid;
    border-radius: 6px;
    background-color: white;
}
.taskButton:disabled{
    background-color: gray;
    pointer-events: none;
    color: rgb(105, 105, 105);
    border: none;
}
.taskButton:active{
    transform: scale(0.9);
}
.taskButton:hover{
    color: white;
}
.buttons{
    display: flex;
    gap: 10px;
}
.ch-btn{
    color: green;
    border-color: green;
}
.x-btn{
    color: red;
    border-color: red;
}
.ch-btn:hover{
    background-color: green;
}
.x-btn:hover{
    background-color: red;
}