.listItem{
    position: relative;
    text-align: left;
    user-select: none;
}
.listItem span{
    display: block;
    max-width: calc(100% - 80px);
    font-size: 40px;
    line-height: 100%;
    cursor: pointer;
    margin-left: 40px;
}
.btns{
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: transparent;
    cursor: pointer;
}
.check-btn{
    border: 2px solid #00008b;
    border-radius: 3px;
    transition: 0.1s;
    color: transparent;
    right: 0;
    top: 17px;
    font-size: 30px;
}
.erase-btn{
    border: none;
    left: 0;
    top: 19px;
    font-size: 20px;
}
.done{
    pointer-events: none;
}
.listItem span.done{
    text-decoration: line-through;
}
.check-btn.done{
    pointer-events: none;
    border: none;
    color: #00008b;
}

@media (max-width: 480px) {
    .listItem span{
        font-size: 20px;
    }
    .check-btn{
        top: -2px;
    }
    .erase-btn{
        top: 0px;
    }
}