.listItem{
    position: relative;
    font-size: 35px;
    text-align: left;
}
.listItem span{
    cursor: pointer;
    margin-left: 40px;
}
.btns{
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: transparent;
    cursor: pointer;
}
.check-btn{
    border: 2px solid #00008b;
    border-radius: 3px;
    transition: 0.1s;
    color: transparent;
    right: 0;
    top: 16px;
    font-size: 30px;
}
.erase-btn{
    border: none;
    left: 0;
    top: 18px;
    font-size: 20px;
}
.done{
    pointer-events: none;
}
.listItem span.done{
    text-decoration: line-through;
}
.check-btn.done{
    pointer-events: none;
    border: none;
    color: #00008b;
}